$background: #112942;
$foreground: #e6e5d4;
$cursor: #e6e5d4;
$color0: #112942;
$color1: #457CA2;
$color2: #518EAD;
$color3: #60A2BD;
$color4: #5FA2C0;
$color5: #6BB1CB;
$color6: #7CC1D6;
$color7: #e6e5d4;
$color8: #a1a094;
$color9: #457CA2;
$color10: #518EAD;
$color11: #60A2BD;
$color12: #5FA2C0;
$color13: #6BB1CB;
$color14: #7CC1D6;
$color15: #e6e5d4;
